DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=change-me
USER_SESSION_TTL_DAYS=7

PUBLIC_MAX_CONTENT_LENGTH=280
PUBLIC_MAX_SUFFIX_LENGTH=20
PUBLIC_MIN_PASSWORD_LENGTH=6
PUBLIC_MAX_PASSWORD_LENGTH=50
PUBLIC_MIN_USERNAME_LENGTH=2
PUBLIC_MAX_USERNAME_LENGTH=50
